PineCone RAG Agent.json
{
  "name": "PineCone RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SL2tj9CRRCg0FT6R1-o68rJcIFeNBxx1",
          "mode": "list",
          "cachedResultName": "Pinecone DB Folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SL2tj9CRRCg0FT6R1-o68rJcIFeNBxx1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -96
      ],
      "id": "990b60f9-8768-4ba8-b0fb-8c3db8b32c94",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GjjUbS1HziQ7URP6",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        -96
      ],
      "id": "e45b18db-cf40-4434-9903-74012059a48e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        -96
      ],
      "id": "a30fecc3-273a-4241-87cf-64017c0faf30",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GjjUbS1HziQ7URP6",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "gdpr-marcom",
          "mode": "list",
          "cachedResultName": "gdpr-marcom"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        -96
      ],
      "id": "4665db22-46f2-400c-8034-654f7ac37ff6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GfvYJaLPRxW26XUc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        128
      ],
      "id": "f57ff812-088e-4568-83d6-8422468b13b1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "86z6v2YmBM4fCsnr",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        128
      ],
      "id": "200f79ee-ec4a-4925-b8e9-6f8cdc73f06b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        512,
        336
      ],
      "id": "a9281c85-7e43-49c0-b99a-050795bf1829",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e2b6751-4d28-491a-922e-5e43718473ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cee705cedf29f67c5a12442c17a27a2fcf7cf569b889e12eb28a9d18fe035b55"
  },
  "id": "1jAtsVlcNs60UGvI",
  "tags": []
}